table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.container{
    height: 400px;
}
body{
    background-color: #509de2;
    color: #e29550;
}
.btn-primary {
    background-color: #9550e2;
}